<!--
  Author(s):
    Antonio Rosado
    Kashan Khan
    Imad Khan
    Alexander Schifferle
    Mike Kheang
  Assignment:
    Senior Project (Summer 2025) – “header.html”
  Last Update:
    Revised June 22, 2025
  Purpose:
    Template for navigation bar + stock ticker
-->

<div id="header">
  <div class="container">
    <nav>
      <img
        src="{{ url_for('static', filename='images/logo.png') }}"
        class="logo"
        alt="Owlgorithmic Traders Logo"
      >
      <ul>
        <li>
          <a href="{{ url_for('index') }}#header">Home</a>
        </li>
        <li>
          <a href="{{ url_for('index') }}#about">About</a>
        </li>
        <li>
          <a href="{{ url_for('index') }}#services">Services</a>
        </li>
        <li>
          <a href="{{ url_for('contact') }}">Contact</a>
        </li>
        <li>
          <a href="{{ url_for('chart_list') }}">View Live Charts</a>
        </li>
        {% if google.authorized %}
          <li>
            <a href="{{ url_for('dashboard') }}">Dashboard</a>
          </li>
          <li>
            <a href="{{ url_for('favorites') }}">View My Favorites</a>
          </li>
        {% endif %}
      </ul>
    </nav>

    <!-- Stock Ticker -->
    <div id="stock-ticker-container">
      <div id="stock-ticker"></div>
    </div>
  </div>
</div>